@import globals
@import mixins

.AppWindow {
  background WHITE
}

.AppWindow nav {
  position absolute
  top 0
  left 0
  width 100%
  height 60px
}

.AppWindow nav > div {
  padding 0 15px
  margin-center()
  row(between, center)
  contain(100%, 992px)
  height 100%
}

.AppWindow nav > div .logo {
  font-weight 700
  letter-spacing 2px
  font-size 2.4rem

  @media screen and (max-width: 480px) {
    font-size 2rem
  }
}

.AppWindow nav > div .logo span {
  font-weight 300

  @media screen and (max-width: 480px) {
    font-size 1.9475rem
    position relative
    bottom 1px
  }
}


.AppWindow nav > div input {
  width 60%
  height 35px
  background SMOKE
  margin-left 10px
  margin-right 10px
  padding 5px 10px
  border-radius 4px
  font-weight 400
  font-size 1.4rem
  letter-spacing 1px
  color PURPLE1
  font-family OPEN
  transition all .35s

  &.look-at-me {
    background PURPLE1
    transform scale(1.1)
    color white
    &::-webkit-input-placeholder {
      color white
    }
  }

  &.no-repo-found {
    transform scale(1.1)
    &::-webkit-input-placeholder {
      color white
    }
  }
}

.AppWindow nav > div img {
  width 22px
}

.Home.view {
  background SMOKE
}
